<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">

      <!-- Main content -->
      <div class="main-content">
        <!--About me-->
        <div class="about-me">
          <h2 class="my-profession">Full Stack Developer</h2>
          <h1 class="my-name">Oleg Pilnik</h1>
          <p class="my-summary">
            Responsible, purposeful, I want to move into the field of IT with the opportunity to develop.
            I want to master the profession of a developer. Ready to work for little money with the opportunity
            to learn and develop in this direction. I have no bad habits.
          </p>
        </div>
        <!-- Projects -->
        <div class="projects-container">
          <h3 class="main-content-title">Projects</h3>
          <ol class="projects-list">
            <li class="projects_item">
              <a class="projects_link" href="https://hellen.p.goit.global/">
                https://hellen.p.goit.global/
              </a>
              <span class="projects-tech">
              .................................. [ HTML5, CSS3 ]
              </span>
            </li>
            <li class="projects_item">
              <a class="projects_link" href="https://cryptohub.p.goit.global/">
                https://cryptohub.p.goit.global/
              </a>
              <span class="projects-tech">
              ........................ [ JavaScript ]
              </span>
            </li>
            <li class="projects_item">
              <a class="projects_link" href="https://kidslike.p.goit.global/">
                https://kidslike.p.goit.global/
              </a>
              <span class="projects-tech">
              ............................... [ React.js, Node.js ]
              </span>
            </li>
          </ol>
        </div>
        <!-- Work Experience -->
        <div class="work-experience">
          <h3 class="main-content-title">Work Experience</h3>
          <!-- Company 1 -->
          <div class="company-conteiner">
            <h4 class="company_position">Engineer of technical means of protection
              <span class="company">
                CO "Municipal protection"
              </span>
            </h4>
            <p class="company-period">October 2019 - up to now | Ukraine</p>
            <ul class="company-duties-list">
              <li class="company-duties-item">
                Keeping records of technical means of protection
              </li>
              <li class="company-duties-item">
                Inspection and adjustment of technical means of protection
              </li>
              <li class="company-duties-item">
                Writing technical tasks for the procurement procedure
              </li>
              <li class="company-duties-item">
                Control of performance and planning of repair of technical means of protection
              </li>
            </ul>
          </div>
          <!-- Company 2 -->
          <div class="company-conteiner">
            <h4 class="company_position">Chief of the operational response crew
              <span class="company">
                KP "Municipalna Varta"
              </span> 
            </h4>
            <p class="company-period">April 2015 - March 2019 | Ukraine</p>
            <ul class="company-duties-list">
              <li class="company-duties-item">
                Trips to security facilities in the event of an alarm.
              </li>
              <li class="company-duties-item">
                Patrolling the protected territory.
              </li>
              <li class="company-duties-item">
                Ensuring settlement of conflict situations
              </li>
            </ul>
          </div>
          <!-- Company 3 -->
          <div class="company-conteiner">
            <h4 class="company_position">Junior operator
              <span class="company"> 
              "Ukraine profile" 
              </span>
            </h4>
            <p class="company-period">October 2014 - March 2015 | Ukraine</p>
            <ul class="company-duties-list">
              <li class="company-duties-item">
                Control of the product manufacturing process
              </li>
              <li class="company-duties-item">
                Debugging equipment
              </li>
            </ul>
          </div>
          <!-- Company 4 -->
          <div class="company-conteiner">
            <h4 class="company_position">Installer of security systems
              <span class="company"> 
              "Veres" LLC
              </span>
            </h4>
            <p class="company-period">July 2013 - September 2014 | Ukraine</p>
            <ul class="company-duties-list">
              <li class="company-duties-item">Installation of a security alarm system</li>
              <li class="company-duties-item">Installation of video surveillance systems</li>
              <li class="company-duties-item">Installation of access systems</li>
            </ul>
          </div>
          <!-- Company 5 -->
          <div class="company-conteiner">
            <h4 class="company_position">Operator
              <span class="company"> 
              DONA LLC
              </span>
            </h4>
            <p class="company-period">November 2012 - June 2013 | Ukraine</p>
            <ul class="company-duties-list">
              <li class="company-duties-item">
                Control of the product manufacturing process
              </li>
              <li class="company-duties-item">
                Debugging equipment
              </li>
            </ul>
          </div>
          <!-- Company 6 -->
          <div class="company-conteiner">
            <h4 class="company_position">Installer of cable Internet
              <span class="company"> 
              Internet provider Frigate
              </span>
            </h4>
            <p class="company-period">December 2010 - November 2012 | Ukraine</p>
            <ul class="company-duties-list">
              <li class="company-duties-item">
                Departure to the client and connection of apartment subscribers to the Internet.
              </li>
              <li class="company-duties-item">
                Customer service.
              </li>
              <li class="company-duties-item">
                Advice to subscribers on the provision of services.
              </li>
            </ul>
          </div>
          <!-- Company 7 -->
          <div class="company-conteiner">
            <h4 class="company_position">Installer of security systems
              <span class="company"> 
              "Veres" LLC
              </span>
            </h4>
            <p class="company-period">December 2006 - November 2010 | Ukraine</p>
            <ul class="company-duties-list">
              <li class="company-duties-item">Installation of a security alarm system</li>
              <li class="company-duties-item">Installation of video surveillance systems</li>
              <li class="company-duties-item">Installation of access systems</li>
            </ul>
          </div>
          <!-- Company 8 -->
          <div class="company-conteiner">
            <h4 class="company_position">Electromechanic
              <span class="company"> 
              JSC Ukrtelecom
              </span>
            </h4>
            <p class="company-period">November 2005 - November 2006 | Ukraine</p>
            <ul class="company-duties-list">
              <li class="company-duties-item">
                Maintenance and repair of equipment.
              </li>
              <li class="company-duties-item">
                Maintenance of equipment. 
              </li>
              <li class="company-duties-item">
                Equipment adjustment.  
              </li>
            </ul>
          </div>
        </div>
        <!--Education -->
        <div>
          <h3 class="main-content-title">Education</h3>
            {% for item in education %}
              <div>
                <h4 class="name-institut">{{ item.name_institution }}</h4>
                <h5 class="speciality">{{ item.specialty }}</h5>
                <p class="education-period">{{ item.study_period }}</p>
              </div>
            {% endfor %}         
        </div>
      </div>
      <!-- Sidebar -->
      <aside class="sidebar" >
        <img class="my-foto" src="{{ url_for('static', filename= 'img/my_foto.JPG') }}" alt="My foto" width="370" />
        <div class="sidebar-content">
          <!-- Contacts -->
          <div class="contacts-container">
            <h3 class="sidebar_title">Contacts</h3>
              <ul>
                {% for item in contacts %}
                  <li class="contacts-item">{{ item.icon }}: <a class="contacts-link" href="{{ item.contact_link }}">{{ item.contact }}</a></li>
                {% endfor %}
              </ul>
          </div>
          <!-- Tech skills -->
          <div class="tech-skills">
            <h3 class="sidebar_title">Tech Skills</h3>
            <ul class="skills-list">
              {% for item in tech_skills %}
                <li class="skills-item">{{ item.title }}</li>
              {% endfor %}
            </ul>
          </div>
          <!-- Soft Skills -->
          <div>
            <h3 class="sidebar_title">Soft Skills</h3>
            <ul class="skills-list">
              {% for item in soft_skills %}
                <li class="skills-item">{{ item.title }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </aside>
      </div>
    </div>
  </body>
</html>
